<template>
  <el-container class="wrapper typo-Arial">

    <el-main>
      <el-col :span="6">
        <el-card class="box-card">
          <template #header>
            <div class="card-header">
              <span>Форма обратной связи</span>
            </div>
          </template>

          <el-form ref="form"
                   label-position="top"
                   :model="currentItem"
                   @submit.prevent.native="submit()">
            <el-form-item label="Email">
              <el-input v-model="currentItem.email"
                        type="email"
                        required>
              </el-input>
            </el-form-item>
            <el-form-item label="Комментарий">
              <el-input type="textarea"
                        v-model="currentItem.comment"
                        required>
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="default"
                         :loading="loading"
                         @click="resetForm">Сбросить форму
              </el-button>
              <el-button type="primary"
                         :loading="loading"
                         native-type="submit">Отправить
              </el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-main>
  </el-container>
</template>


<script>
import apiService from "../../services/apiService.js";

export default {
  name: 'FeedbackForm',
  data: () => ({
    currentItem: {},
    loading: false,
  }),
  methods: {
    submit() {
      this.loading = true;

      apiService.post('/api/feedback', this.currentItem)
        .then(() => {
          this.currentItem = this.emptyItem();
          this.$appNotify.success('Спасибо за ваш отзыв!');
        })
        .catch((error) => {
          this.$appNotify.error(error.response.data);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    emptyItem() {
      return {
        email: '',
        comment: '',
      }
    },
    resetForm() {
      this.currentItem = this.emptyItem();
    }
  },
}
</script>

<style scoped>
.el-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
